<html>
<body>
<h1>[% page %]</h1>
<p><a href="[% uri_for('controller', 'wiki', 'action', 'page', 'page_name', page) %]">View</a></p>
<p>
<form method="POST" action="[% uri_for('controller', 'wiki', 'action', 'edit', 'page_name', page) %]">
<textarea name="text" rows="10" cols="30">[% text %]</textarea>
<input type="submit" value="Submit" />
</form>
</p>
</body>
</html>
