<html>
<body>
<h1>[% page %]</h1>
<p><a href="[% uri_for('action', 'page', 'page_name', page) %]">View</a></p>
<ul>
[% SET cur = head %]
[% WHILE cur %]
<li><a href="[% uri_for('action', 'old_page', 'page_name', page, 'rev', cur.digest) %]">[% cur.author.id %] on [% cur.modification_date %]</a></li>
[% SET cur = cur.previous_revision %]
[% END %]
</ul>
<p style="font-size: small">
Last modified by [% author.id %] on [% modified %]
</p>
</body>
</html>
